name: Databricks Deployment

# Trigger the workflow on push to the main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy Bundle"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Install the Databricks CLI
      - name: Install Databricks CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

      # 2. Deploy the bundle to the workspace
      # This uses the secrets you'll set up in GitHub
      - name: Deploy Bundle -t prod
        working-directory: dab
        run: databricks bundle deploy
        env:
          DATABRICKS_HOST: https://dbc-9e0301e8-9431.cloud.databricks.com/
          DATABRICKS_TOKEN: dapi6dc185023b293855b3a7705eb8f8c283

      # 3. (Optional) Run a specific job immediately after deployment
      # - name: Run Job
      #   working-directory: dab
      #   run: databricks bundle run New Job Feb 24, 2026, 06:52 PM
      #   env:
      #     DATABRICKS_HOST: https://dbc-9e0301e8-9431.cloud.databricks.com/
      #     DATABRICKS_TOKEN: dapi6dc185023b293855b3a7705eb8f8c283
      #
